################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

# Arquivos de Build/Objeto
[Bb]in/
[Oo]bj/

# Arquivos de usuário de IDEs (como Visual Studio)
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de testes de cobertura de código
*.trx
*.coverage
*.runsettings

# Arquivos de Pacotes NuGet
*.nupkg
.nuget/

# Arquivos e pastas do Visual Studio
.vs/