################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Residencial.GastosAPI/.vs/Residencial.GastosAPI/CopilotIndices/17.14.1530.14912
